@font-face {
  font-family: "norse-bold";
  src: url("./font/norse-bold-webfont.woff2");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-ff: Arial, sans-serif;
  --secondary-ff: "norse-bold", serif;

  --primary-font-color: hsl(0, 0%, 0%);
  --secondary-font-color: hsl(0, 0%, 100%);
  --link-font-color: hsl(92, 20%, 35%);

  --primary-bg-color: hsl(210, 20%, 98%);
  --secondary-bg-color: hsl(0, 0%, 100%);

  --button-bg-color: hsl(92, 20%, 35%);

  --border-color: hsl(220, 13%, 91%);
  --focus-color: hsl(224, 69%, 77%);
  --invalid-color: hsl(0, 53%, 56%);

  --border: 2px solid var(--border-color);
  --padding-left: 3rem;
}

body {
  display: flex;
  color: var(--primary-font-color);
  font-family: var(--primary-ff);
  font-weight: 400;
  min-height: 100vh;
  line-height: 1.5;
}

body > div {
  background: center url("./images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  color: var(--secondary-font-color);
  position: relative;
  min-width: 500px;
}

.logo {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: var(--secondary-ff);
  font-size: 6em;
  height: 150px;
  justify-content: center;
  position: absolute;
  top: 200px;
  width: 100%;
}

.logo > img {
  height: 125px;
  width: 100px;
}

.logo + p {
  bottom: 10px;
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.logo + p :any-link {
  color: var(--secondary-font-color);
}

main {
  background: var(--primary-bg-color);
  width: 100%;
  text-align: justify;
  font-weight: 600;
}

main > p {
  max-width: 60ch;
  padding-left: var(--padding-left);
  margin-bottom: 2.5rem;
  height: 22.5vh;
  margin-top: 100px;
  font-size: 1.5em;
}

.container > p {
  margin: -20px 0 0;
  font-size: 1.5em;
}

.container {
  background: var(--secondary-bg-color);
  padding-left: var(--padding-left);
  height: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6%;
  box-shadow: 0 5px 10px lightgray;
}

.container > fieldset > p {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.container > fieldset {
  border: none;
  display: flex;
  gap: 5%;
}

form > button {
  background-color: var(--button-bg-color);
  padding: 0.8em 3.4em;
  font: inherit;
  font-size: 1.1rem;
  color: var(--secondary-font-color);
  border: none;
  border-radius: 6px;
  margin: 2.5rem 0 2.5rem 4rem;
}

form > button + p {
  padding-left: var(--padding-left);
  font-size: 1rem;
}

form > button + p :any-link {
  color: var(--link-font-color);
  text-decoration: none;
}

label {
  font-size: 0.7rem;
  white-space: nowrap;
  letter-spacing: 0.7px;
  color: hsla(from var(--primary-font-color) h s l / 0.8);
}

input {
  outline: none;
  height: 32px;
  min-width: 140px;
  font: inherit;
  font-weight: 500;
  border: var(--border);
  border-radius: 4px;
  padding: 5px;
}

input:focus {
  border-color: var(--focus-color);
  box-shadow: 0 0 10px var(--border-color);
}

input:invalid {
  border-color: var(--invalid-color);
  box-shadow: 0 0 10px var(--border-color);
}
